nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
} */

.nav-list {
  list-style: none;
  display: flex;

  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.code-image {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}



@media (max-width: 600px) {
  nav {
    justify-content: center;
  }

  .nav-list {
    flex-direction: column;
  }
}
