.introduction-container {
  background-image: url("../../img/bg2.jpg");
  background-size: cover;
  background-position: center;
  text-align: left;
  /* width: 100vw;
  height: 100vh; */
  padding-bottom: 250px;
}

.introduction-container p {
  font-size: 25px;
  line-height: 1.6;
  color: #666;
  /* padding: 1rem; */
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  padding-top: 100px;
}

.highlight-word {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
}
